<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <link href="/fonts/fonts.css"
          media="all"
          rel="stylesheet"
          type="text/css" />
    <link href="/fonts/font-awesome/font-awesome.css"
          media="all"
          rel="stylesheet"
          type="text/css" />
    <link href="/stylesheets/bootstrap.min.css"
          media="all"
          rel="stylesheet"
          type="text/css" />
    <link href="/stylesheets/main.css"
          media="all"
          rel="stylesheet"
          type="text/css" />
    <link href="/stylesheets/style.css"
          media="all"
          rel="stylesheet"
          type="text/css" />
</head>

<body>
    <section class="lu-what-new">
        <div class="container text-center">
            <h1 class="lu-section-title">What's new coming...</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="lu-new-feature">
                        <div class="lu-new-feature-icon">
                            <i class="fa fa-heart"></i>
                        </div>
                        <h3>Coded with Love</h3>
                        <div class="lu-new-feature-text">Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lu-new-feature">
                        <div class="lu-new-feature-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <h3>East to use</h3>
                        <div class="lu-new-feature-text">Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lu-new-feature">
                        <div class="lu-new-feature-icon">
                            <i class="fa fa-fire"></i>
                        </div>
                        <h3>Parallax Background</h3>
                        <div class="lu-new-feature-text">Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lu-new-feature">
                        <div class="lu-new-feature-icon">
                            <i class="fa fa-film"></i>
                        </div>
                        <h3>Video Background</h3>
                        <div class="lu-new-feature-text">Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lu-new-feature">
                        <div class="lu-new-feature-icon">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <h3>Slider Background</h3>
                        <div class="lu-new-feature-text">Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lu-new-feature">
                        <div class="lu-new-feature-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <h3>Mailchimp Support</h3>
                        <div class="lu-new-feature-text">Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</div>
                    </div>
                </div>
            </div>
            <ul class="container text-center Links">
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </div>
    </section>
</body>

</html>