<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>Coming Soon</title>
  <link href="/fonts/fonts.css"
        media="all"
        rel="stylesheet"
        type="text/css" />
  <link href="/fonts/font-awesome/font-awesome.css"
        media="all"
        rel="stylesheet"
        type="text/css" />
  <link href="/stylesheets/bootstrap.min.css"
        media="all"
        rel="stylesheet"
        type="text/css" />
  <link href="/stylesheets/style.css"
        media="all"
        rel="stylesheet"
        type="text/css" />
</head>

<body>
  <div class="lavel-up-header"
       data-stellar-background-ratio="0.5">
    <div class="lavel-up-color-overlay">
      <div class="container text-center">
        <div class="lu-logo">
          <img src="/images/logo.png">
        </div>
        <h1 class="lu-title">We are opening soon.</h1>
        <div id="time" class="lu-countdown">

        </div>
        <button id="btnCountdown" type="button"
                class="btn btn-danger SpacedButton" onClick="countdown()"> Pause countdown </button>
        <div class="lu-newletter">
          <h2>Subscribe our newsletter and get update when we back.</h2>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div id="mc_embed_signup"
                   class="lu_singup_form">
                <div id="mc_embed_signup_scroll">
                  <div class="mc-field-group input-group input-group-lg">
                    <input type="email"
                           value=""
                           name="EMAIL"
                           class="required form-control"
                           id="mce-EMAIL"
                           placeholder="Your Email"
                           onfocusout="validate()"
                           required>
                    <span class="input-group-btn">
                      <button type="button"
                              id="mc-embedded-subscribe"
                              class="btn btn-default">Subscribe</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="lu-social-networks text-center">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
      <ul class="container text-center Links">
        <li>
          <a href="/newfeatures/incoming">New features</a>
        </li>
        <li>
          <a href="/contact/form">contact</a>
        </li>
      </ul>
    </div>
  </div>
  <script src="/javascripts/index.js"></script>
</body>

</html>